{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@Config": "./config",
          "@Server": "./src/server",
          "@Admin": "./src/client/js/admin",
          "@Public": "./src/client/js/public"
        }
      }
    ]
  ]
}