{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "debug": true,
        "targets": {
          "node": "current",
          "browsers": [
            "last 1 versions",
            "> 1%",
            "ie >= 11"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@Config": "./config",
          "@Admin": "./src/js/admin",
          "@Public": "./src/js/public"
        }
      }
    ]
  ]
}