{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:vue/recommended",
    "plugin:jest/recommended"
  ],
  "globals": {
    "SERVICE_URL": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@Config", "./config"],
          ["@Admin", "./src/js/admin"],
          ["@Public", "./src/js/public"]
        ],
        "extensions": [".vue", ".js", ".json", ".css"]
      }
    }
  },
  "rules": {
    "import/extensions": ["error", "always", {
      "js": "never",
      "css": "never",
      "vue": "never"
    }],
    "no-new": "off",
    "no-console": "warn",
    "no-control-regex": "off",
    "import/prefer-default-export": "off",
    "max-len": [
      "error",
      {
        "code": 90,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ],
    "no-irregular-whitespace": [
      "error",
      {
        "skipTemplates": true,
        "skipStrings": true
      }
    ],
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": "off",
    "arrow-parens": ["error", "as-needed"],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state"]
      }
    ],
    "vue/singleline-html-element-content-newline": "off",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3,
        "multiline": {
          "max": 1
        }
      }
    ]
  }
}