/* @font-face {
  font-family: 'Noto';
  src: url('/fonts/NotoSans/NotoSansCJKjp-MediumSubset.eot');
  src: url('/fonts/NotoSans/NotoSansCJKjp-MediumSubset.eot?#iefix') format('embedded-opentype'), url('/fonts/NotoSans/NotoSansCJKjp-MediumSubset.woff') format('woff'), url('/fonts/NotoSans/NotoSansCJKjp-MediumSubset.ttf') format('truetype'), url('/fonts/NotoSans/NotoSansCJKjp-MediumSubset.svg#Noto') format('svg');
  font-weight: var(--normal);
  font-style: normal;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Noto';
    src: url('/fonts/NotoSans/NotoSansCJKjp-MediumSubset.svg#Noto') format('svg');
  }
}



@font-face {
  font-family: 'Noto';
  src: url('/fonts/NotoSans/NotoSansCJKjp-BoldSubset.eot');
  src: url('/fonts/NotoSans/NotoSansCJKjp-BoldSubset.eot?#iefix') format('embedded-opentype'), url('/fonts/NotoSans/NotoSansCJKjp-BoldSubset.woff') format('woff'), url('/fonts/NotoSans/NotoSansCJKjp-BoldSubset.ttf') format('truetype'), url('/fonts/NotoSans/NotoSansCJKjp-BoldSubset.svg#Noto') format('svg');
  font-weight: var(--bold);
  font-style: normal;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Noto';
    src: url('/fonts/NotoSans/NotoSansCJKjp-BoldSubset.svg#Noto') format('svg');
  }
}



@font-face {
  font-family: 'Noto';
  src: url('/fonts/NotoSans/NotoSansCJKjp-BlackSubset.eot');
  src: url('/fonts/NotoSans/NotoSansCJKjp-BlackSubset.eot?#iefix') format('embedded-opentype'), url('/fonts/NotoSans/NotoSansCJKjp-BlackSubset.woff') format('woff'), url('/fonts/NotoSans/NotoSansCJKjp-BlackSubset.ttf') format('truetype'), url('/fonts/NotoSans/NotoSansCJKjp-BlackSubset.svg#Noto') format('svg');
  font-weight: var(--black);
  font-style: normal;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Noto';
    src: url('/fonts/NotoSans/NotoSansCJKjp-BlackSubset.svg#Noto') format('svg');
  }
}



 */
