// ---  幅・高さ ---------
// admin
$sidebarWidth: 230px;
// public
$publicMaxWidth: 1100px;
$publicContentWidth: 900px;

// ---  色 ---------
$keycolor: #00a381;
$errorColor: #ff2828;
$disabledColor: #d4dcd6;
$cautionColor: #fcc800;

$gray: #cacaca;
$lightGray: #ececec;
$superLightGray: #f8f8f8;

// ---  フォントの太さ ---------
$normal: 400;
$bold: 700;
$black: 900;